article(data-accordion, class=`accordion ${lang.uniqueClass}`)
  .panel-heading(data-control)
    img(src=lang.image alt=`${lang.name} logo`)
    h3(style=`background-color: ${lang.bgColor}`) #{lang.name}
  .panel-wrap(data-content)
    if lib.minimumVersion
      .version
        p Minimum Version #{lib.minimumVersion}
          a(href='https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/', target='_blank', data-metrics-lib-id=lib.repoUrl)
            img(src='img/ico_question.svg' alt='question mark icon' title='Learn more about vulnerabilities in JWT libraries')
    div(class={ 'panel-body': true, mversion: !!lib.minimumVersion })
      .column
        p
          i(class=lib.support.sign ? 'icon-budicon-500' : 'icon-budicon-501')
          | Sign
        p
          i(class=lib.support.verify ? 'icon-budicon-500' : 'icon-budicon-501')
          | Verify
        p
          i(class=lib.support.iss ? 'icon-budicon-500' : 'icon-budicon-501')
          code iss
          |  check
        p
          i(class=lib.support.sub ? 'icon-budicon-500' : 'icon-budicon-501')
          code sub
          |  check
        p
          i(class=lib.support.aud ? 'icon-budicon-500' : 'icon-budicon-501')
          code aud
          |  check
        p
          i(class=lib.support.exp ? 'icon-budicon-500' : 'icon-budicon-501')
          code exp
          |  check
        p
          i(class=lib.support.nbf ? 'icon-budicon-500' : 'icon-budicon-501')
          code nbf
          |  check
        p
          i(class=lib.support.iat ? 'icon-budicon-500' : 'icon-budicon-501')
          code iat
          |  check
        p
          i(class=lib.support.jti ? 'icon-budicon-500' : 'icon-budicon-501')
          code jti
          |  check
        p
          i(class=lib.support.typ ? 'icon-budicon-500' : (lib.support.typ !== undefined ? 'icon-budicon-501' : 'icon-unknown'))
          code typ
          |  check
      .column
        p
          i(class=lib.support.hs256 ? 'icon-budicon-500' : 'icon-budicon-501')
          | HS256
        p
          i(class=lib.support.hs384 ? 'icon-budicon-500' : 'icon-budicon-501')
          | HS384
        p
          i(class=lib.support.hs512 ? 'icon-budicon-500' : 'icon-budicon-501')
          | HS512
        p
          i(class=lib.support.ps256 ? 'icon-budicon-500' : (lib.support.ps256 !== undefined ? 'icon-budicon-501' : 'icon-unknown'))
          | PS256
        p
          i(class=lib.support.ps384 ? 'icon-budicon-500' : (lib.support.ps384 !== undefined ? 'icon-budicon-501' : 'icon-unknown'))
          | PS384
        p
          i(class=lib.support.ps512 ? 'icon-budicon-500' : (lib.support.ps512 !== undefined ? 'icon-budicon-501' : 'icon-unknown'))
          | PS512
        p
          i(class=lib.support.rs256 ? 'icon-budicon-500' : 'icon-budicon-501')
          | RS256
        p
          i(class=lib.support.rs384 ? 'icon-budicon-500' : 'icon-budicon-501')
          | RS384
        p
          i(class=lib.support.rs512 ? 'icon-budicon-500' : 'icon-budicon-501')
          | RS512
        p
          i(class=lib.support.es256 ? 'icon-budicon-500' : 'icon-budicon-501')
          | ES256
        p
          i(class=lib.support.es256k ? 'icon-budicon-500' : (lib.support.es256k !== undefined ? 'icon-budicon-501' : 'icon-unknown'))
          | ES256K
        p
          i(class=lib.support.es384 ? 'icon-budicon-500' : 'icon-budicon-501')
          | ES384
        p
          i(class=lib.support.es512 ? 'icon-budicon-500' : 'icon-budicon-501')
          | ES512
        p
          i(class=lib.support.eddsa ? 'icon-budicon-500' : (lib.support.eddsa !== undefined ? 'icon-budicon-501' : 'icon-unknown'))
          | EdDSA

    .author-info
      .maintainer
        if lib.authorUrl
          a(href=lib.authorUrl, data-metrics-lib-id=lib.repoUrl)
            i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
            | #{lib.authorName}
        else
          i.icon-budicon-333(data-toggle='tooltip', title='', data-original-title='Maintainer')
          | #{lib.authorName}
        if lib.gitHubRepoPath
          span.stars( style='display: inline;')
            i.icon-budicon-466
            | #{lib.stars}
      .repository
        i.icon-1392070209-icon-social-github
        a(href=lib.repoUrl, data-metrics-lib-id=lib.repoUrl) View Repo

    .panel-footer
      code !{lib.installCommandHtml}
